body {
    margin: 0;
    padding: 0px 20px;
    background-color: #f01da6;
    color: white;
}
section{
  background-color:#7D0854;
  padding: 10px;
}
#header {
    background-color: #f676f6;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    color:#1C1B1B;
}
.container {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 700px;
}

.menu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: row;
}
a {
    color: inherit;
    text-decoration: none;
}
nav a:hover, nav a:focus {
  background-color: #76EEF5;
}
p {
    margin-bottom: 0;
}
.menu-link {
    margin-left: 10px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.header-paragraph {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.images {
    display: flex;
    align-items: flex-start;
}
img {
    width: 150px;
    height: 200px;
}
.welcome .container {
  display:flex;
  align-items: center;
}
main {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.about .container{
  display:flex;
  align-items: center;
}
#contacts a {
  color: #0d65c2
}
#contacts a:hover, #contacts a:focus {
  color: #6297d0
}
fieldset {
  display:flex;
  flex-direction:column;
  width: 30%;
  margin: 0 auto;
}
form {
  display:flex;
  flex-direction:column;
  align-items:center;
}
footer {
  display:flex;
  justify-content:center;
  background-color:#f676f6;

}
footer .container{
  display:flex;
  flex-direction:column;
}
.back-to-top{
  margin-top: 15px;
}
